@using Microsoft.AspNetCore.Components.Web
@namespace Amazon.GenAI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="Amazon.GenAI.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <style>
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        main {
            background: floralwhite
        }

        .chat-container {
            position: relative;
            margin: 20px auto;
            border: 1px solid #ddd;
            background: #fff;
            border-radius: 8px;
            overflow: auto;
            max-height: 79vh;
        }

        .chat-messages {
            min-height: 80%;
            overflow-y: auto;
            padding: 10px;
        }

        .chat-messages {
            overflow-y: auto;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }

        .message {
            margin-bottom: 10px;
            padding: 8px 0;
            border-radius: 20px;
            max-width: 80%;
        }

        .timestamp {
            font-size: 0.75rem;
            color: #6c757d;
            margin-top: 2px;
        }

        .bot-message {
            background-color: #f1f0f0;
            padding: 8px 12px;
            margin-left: auto;
        }

        .bot-wrapper .timestamp {
            text-align: right;
            margin-left: auto;
            padding: 0 4px
        }

        .human-message {
            align-self: flex-end;
            margin-right: auto;
            background-color: antiquewhite;
        }

        .human-message p{
            padding: 5px 15px 0;
        }

        .chat-input {
            padding: 10px;
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
        }

        .error-message {
            padding: 10px;
           
            /* border-top: 1px solid #ddd; */
        }

        .input-wrapper {
            position: fixed;
            bottom: 20px;
            left: inherit;
            transform: translateX(20px);
        }

        .fixed-bottom-wrapper {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
        }

        .fixed-bottom {
            width: 200px;
            height: 50px;
            background-color: #f0f0f0;
            border: 1px solid #999;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mud-input-control > .mud-input-control-input-container {
            margin-top: -17px;
        }

        .logo {
            position: fixed;
            bottom: 20px;
        }

        .citation-img {
            object-fit: contain;
            max-width: 100%;
        }

    </style>

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui" >
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="site.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
