@page "/chat"
@inherits PageBase
@using Amazon.BedrockRuntime
@using Amazon.GenAI.Abstractions.Bedrock
@using Amazon.GenAI.Abstractions.Message
@using Amazon.GenAI.Components
@using Amazon.GenAI.Models
@inject AmazonBedrockRuntimeClient BedrockRuntimeClient


<div class="container-fluid h-100 d-flex flex-column">
    <MessageHistory History="MessageHistory"></MessageHistory>
</div>

<div class="input-wrapper">
    <Prompt Model="MessageHistory"
            OnPromptChanged="PromptChanged"
            BuiltinPrompt="@BuiltinPrompt"
            Status="Status">
    </Prompt>
</div>

@code {

    private async Task PromptChanged(string prompt)
    {
        BuiltinPrompt = prompt;

        if (string.IsNullOrEmpty(prompt)) return;

        Status = Status.Thinking;
        await MessageHistory.AddUserMessage(prompt);

        var bodyJson = AnthropicClaude3.CreateBodyJson(MessageHistory.Messages.AsHistory());
        var response = await BedrockRuntimeClient.InvokeModelAsync(Constants.TextModelId, bodyJson).ConfigureAwait(false);
        var generatedText = response?["content"]?[0]?["text"]?.GetValue<string>() ?? string.Empty;

        await MessageHistory.AddAiMessage(generatedText!);

        await UpdatePage();
    }
}
