@page "/knowledgebase-with-filters"
@inherits PageBase
@using System.Text.RegularExpressions
@using Amazon.BedrockAgent
@using Amazon.BedrockAgent.Model
@using Amazon.BedrockAgentRuntime
@using Amazon.BedrockAgentRuntime.Model
@using Amazon.GenAI.Abstractions
@using Amazon.GenAI.Components
@using Amazon.GenAI.Models
@using Amazon.Runtime.Internal
@using Amazon.S3
@inject AmazonBedrockAgentClient AgentClient;
@inject AmazonBedrockAgentRuntimeClient AgentRuntimeClient;
@inject AmazonS3Client AmazonS3Client;


<KnowledgeBaseFilter OnFilterUpdated="OnFilterUpdated" 
                     Countries="_countries" Cities="_cities">
</KnowledgeBaseFilter>

<div class="container-fluid h-100 d-flex flex-column">
    <MessageHistory History="MessageHistory"></MessageHistory>
</div>

<ShortcutPrompts OnPromptChanged="PromptChanged"></ShortcutPrompts>

<div class="input-wrapper">
    <Prompt Model="MessageHistory"
    OnPromptChanged="PromptChanged"
    BuiltinPrompt="@BuiltinPrompt"
    Status="Status">
    </Prompt>
</div>

@code {

    private KnowledgeBaseSummary? _knowledgeBase;
    private List<KnowledgeBaseSummary?>? _knowledgeBases = [];

    AutoConstructedList<RetrievalFilter>? _filters;

    private HashSet<string> _countries = [];
    private HashSet<string> _cities = [];
    Match? _match;

    protected override async Task OnInitializedAsync()
    {
        _knowledgeBases = (await AgentClient.ListKnowledgeBasesAsync(new ListKnowledgeBasesRequest())).KnowledgeBaseSummaries
            .OrderBy(x => x.UpdatedAt)
            .Where(x => x.Status.Value.Equals("Active", StringComparison.OrdinalIgnoreCase))
            .ToList();

        _knowledgeBase = _knowledgeBases.FirstOrDefault(x => x != null && 
                                                             x.Name.StartsWith(Constants.KnowledgeBaseName, StringComparison.OrdinalIgnoreCase));

        var dataSourcesResponse = await AgentClient.ListDataSourcesAsync(
            new ListDataSourcesRequest{KnowledgeBaseId = _knowledgeBase?.KnowledgeBaseId}).ConfigureAwait(false);
        var dataSourceSummary = dataSourcesResponse.DataSourceSummaries.First();
        var dataSource = await AgentClient.GetDataSourceAsync(new GetDataSourceRequest
        {
            KnowledgeBaseId = _knowledgeBase?.KnowledgeBaseId,
            DataSourceId = dataSourceSummary.DataSourceId
        }).ConfigureAwait(false);
        var bucketArn = dataSource.DataSource.DataSourceConfiguration.S3Configuration.BucketArn;
        const string pattern = @"(?<=arn:aws:s3:::).*";
        _match = Regex.Match(bucketArn, pattern);

        await UpdateDropDowns();

        await base.OnInitializedAsync();
    }

    private async Task PromptChanged(string prompt)
    {
        BuiltinPrompt = prompt;

        if (string.IsNullOrEmpty(prompt))
            return;

        Status = Status.Thinking;
        await MessageHistory.AddUserMessage(prompt);

        try
        {
            var request = new RetrieveAndGenerateRequest
                {
                    Input = new RetrieveAndGenerateInput { Text = prompt },
                    RetrieveAndGenerateConfiguration = new RetrieveAndGenerateConfiguration
                    {
                        Type = RetrieveAndGenerateType.KNOWLEDGE_BASE,
                        KnowledgeBaseConfiguration = new KnowledgeBaseRetrieveAndGenerateConfiguration
                        {
                            KnowledgeBaseId = _knowledgeBase?.KnowledgeBaseId,
                            ModelArn = Constants.TextModelId,
                            RetrievalConfiguration = new KnowledgeBaseRetrievalConfiguration
                            {
                                VectorSearchConfiguration = new KnowledgeBaseVectorSearchConfiguration
                                {
                                    OverrideSearchType = "HYBRID"
                                }
                            }
                        }
                    }
                };

            if (_filters is not null && _filters.Count % 2 == 0)
            {
                request
                    .RetrieveAndGenerateConfiguration
                    .KnowledgeBaseConfiguration
                    .RetrievalConfiguration
                    .VectorSearchConfiguration
                    .Filter = new RetrievalFilter { AndAll = _filters };
            }

            var result = await AgentRuntimeClient!.RetrieveAndGenerateAsync(request);

            await MessageHistory.AddAiMessage(result.Output.Text!);
        }
        catch (AmazonBedrockAgentRuntimeException ex)
        {
            Console.WriteLine($"AWS Error: {ex.Message}");
            throw;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"General Error: {ex.Message}");
            throw;
        }

        await UpdatePage();
    }

    private Task OnFilterUpdated(AutoConstructedList<RetrievalFilter>? filters)
    {
        _filters = filters!.Count == 0 ? null : filters;
        return Task.CompletedTask;
    }

    private async Task UpdateDropDowns()
    {
        try
        {
            var s3Wrapper = new S3Wrapper(AmazonS3Client);
            var attributes = await s3Wrapper.GetMetaDataFromS3(_match?.Value, Constants.KnowledgeBaseName, Constants.MetadataExtension);
            foreach (var item in attributes)
            {
                foreach (var dict in item)
                {
                    if (dict.Key.Equals("country", StringComparison.OrdinalIgnoreCase)) _countries.Add(dict.Value);
                    if (dict.Key.Equals("city", StringComparison.OrdinalIgnoreCase)) _cities.Add(dict.Value);
                }
            }
            _countries = _countries.OrderBy(x => x).ToHashSet();
            _cities = _cities.OrderBy(x => x).ToHashSet();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred: {ex.Message}");
        }
    }
}