@using Amazon.GenAI.Abstractions
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
@inject BrowserService Browser

<PageTitle>Amazon.GenAI</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
}
