<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Octank Hotels</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="chat">
				<span class="oi oi-chat" aria-hidden="true"></span> Chat
			</NavLink>
		</div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="knowledgebase">
                <span class="oi oi-document" aria-hidden="true"></span> Knowledge Base
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="knowledgebase-with-filters">
                <span class="oi oi-document" aria-hidden="true"></span> Knowledge Base with Filters
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="additional-features">
                <span class="oi oi-document" aria-hidden="true"></span> Additional Features
            </NavLink>
        </div>
		<div class="nav-item px-3">
			<img src="AWSLogo.png" class="img-fluid logo" />
		</div>
	</nav>
</div>

@code {
	private bool _collapseNavMenu = true;

	private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		_collapseNavMenu = !_collapseNavMenu;
	}
}
