<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Amazon GenAI App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foundation-models">
                <span class="oi oi-list" aria-hidden="true"></span> List Foundation Models
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Text-playground">
                <span class="oi oi-copywriting" aria-hidden="true"></span> Text Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat-playground">
                <span class="oi oi-chat" aria-hidden="true"></span> Chat Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-playground">
                <span class="oi oi-image" aria-hidden="true"></span> Image Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdf-rag-playground">
                <span class="oi oi-document" aria-hidden="true"></span> PDF RAG Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="knowledge-base-playground">
                <span class="oi oi-document" aria-hidden="true"></span> Knowledgebase Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-search-playground">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Image Search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocumentGeneration">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Document Generation
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
