﻿@using Amazon.GenAI.Abstractions.OpenSearch
@using Amazon.GenAI.Abstractions.OpenSearch
@using Amazon.GenAI.Models

@foreach (var result in SearchResults!)
{
    <div class="image-container">
        <MudImage Src="@($"http://{result.Path}")" Width="Width" Elevation="0" Class="pa-1 ma-0" />
    </div>
}

@code {
    [Parameter]
    public ActionType ActionType { get; set; }

    [Parameter]
    public IReadOnlyCollection<VectorSearchResponse>? SearchResults { get; set; } = new List<VectorSearchResponse>();

    [Parameter]
    public Dictionary<string, string> Files { get; set; } = new();

    [Parameter]
    public List<string> ImageUrls { get; set; } = new();

    [Parameter]
    public int Width { get; set; }

    [Parameter] public bool SearchType { get; set; } = false;

    [Parameter] public bool ShowRelevance { get; set; } = false;
}